# Apache Virtual Host for DVWA
# This configuration file sets up the web server to host the DVWA application.

<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    DocumentRoot {{ apache_document_root }}/dvwa

    <Directory {{ apache_document_root }}/dvwa>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/dvwa_error.log
    CustomLog ${APACHE_LOG_DIR}/dvwa_access.log combined

</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet