# RHEL 9 NetworkManager configuration for static IP
# Template for RHEL VMs in the SOC lab

[connection]
id={{ interface_name }}
uuid={{ 8 | random_uuid }}
type=ethernet
interface-name={{ interface_name }}
autoconnect=true

[ethernet]
mac-address-blacklist=

[ipv4]
method=manual
addresses={{ ip_address }}/24,{{ gateway }}
dns={{ dns_servers | join(';') }};

[ipv6]
method=auto

[proxy]